@import "tailwindcss";

:root {
    --background: #e0decd;
    --foreground: #1a1a1a;
    --cream: #f5f3f0;
    --cream-dark: #e8e5e0;
    --dark: #1a1a1a;
    --dark-light: #2d2d2d;
    --primary: #7e5e49;
    --secondary: #f34f8b;
    --blue-color: #90e0ef;
    --green-color: #98c9a3;
    --purple-color: #f2a8ff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-cream: var(--cream);
    --color-cream-dark: var(--cream-dark);
    --color-dark: var(--dark);
    --color-dark-light: var(--dark-light);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-bluecolor: var(--blue-color);
    --color-greencolor: var(--green-color);
    --color-purplecolor: var(--purple-color);

    --font-heading: var(--font-heading);
    --font-taylerSwift: var(--font-tayler-Swift);
    --font-quickSand: var(--font-Quicksand);
    --font-nunito: var(--font-Nunito);
    --font-dotted: var(--dotted-font);
    --font-shadows : var(--font-Shadows-Into-Light);

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --shadow-primary: 0px 0px 0px 3px #7e5e49;
    --shadow-secondary: 0px 0px 0px 3px #e0decd;
}

body {
    background: var(--background);
    color: var(--dark);
    font-family: var(--font-taylerSwift), system-ui, -apple-system, sans-serif;
}

html {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
